body{
    color: white;
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    
}

ul{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
    padding: 16px;
}

a {
    color: white;
    text-decoration: none;
}

header img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 5px solid blue;
}

.center  {
    text-align: center;
}

h1{
    color: blue ;

}

footer img{
    width: 35px;
    height: 35px;

}

footer{
    display: flex;
    justify-content: center;

}
footer a{
    margin: 20px;
    text-align: center;
}
footer p{
    margin-top: 2px;
}

.container{
    padding: 0px 50px;
}

#index{
    border: 3px solid blue;
    padding: 5px;
    color: white;
    background-color: blue;
    border-radius: 50px;
}
#index:hover{
    background-color: white;
    color: blue;
}

#project{
    border: 3px solid green;
    padding: 5px;
    color: white;
    background-color: green;
    border-radius: 50px;
}
#project:hover{
    background-color: white;
    color: green;
}
#contact{
    border: 3px solid goldenrod;
    padding: 5px;
    color: white;
    background-color: goldenrod;
    border-radius: 50px;
}
#contact:hover{
    background-color: white;
    color: goldenrod;
}
#menu{
    border: 3px solid pink;
    padding: 5px;
    color: white;
    background-color: pink;
    border-radius: 50px;
}
#menu:hover{
    background-color: white;
    color: pink;
}

#parallax{
    border: 3px solid rgb(80, 179, 146);
    padding: 5px;
    color: white;
    background-color: rgb(80, 179, 146);
    border-radius: 50px;
}

#parallax:hover{
    background-color: white;
    color:rgb(80, 179, 146);
}
#form{
    border: 3px solid purple;
    padding: 5px;
    border-radius: 50px;
    color: white;
    background-color: purple;
}
#form:hover{
    background-color: white;
    color: purple;
    transition:(0.3s all);
}
#landing{
    border: 3px solid gray;
    border-radius: 50px;
    padding: 5px;
    color: white;
    background-color: gray;
}

#landing:hover{
    background-color:white;
    color:gray;
    transition:(0.3s all);
}

